# SMTP Configuration
SMTP_SERVER=127.0.0.1
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=

# IMAP Configuration
IMAP_SERVER=127.0.0.1
IMAP_PORT=143
IMAP_USER=
IMAP_PASSWORD=

# App Settings
APP_PORT=8000
DEBUG=True

SUDO_USER_PASSWORD=